<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.atmecs.demo_blazesite.utilities.TestNGListeners"></listener>
	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.atmecs.demo_blazesite.AddProduct"/>
      <class name="com.atmecs.demo_blazesite.SignIn"/>
      <class name="com.atmecs.demo_blazesite.ContactUs"/>
      <class name="com.atmecs.demo_blazesite.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
